{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee style="font-family: 'Monotype-Corsiva'; font-weight: bold; font-size: 25px; color: lightgreen; background-color: black; margin-top: 1%">
    Latest Jobs
</marquee>

<div class="container">
<table class="table table-hover" id="example">
    <thead>
        <tr style="background-color: blue; color: white">
            <th>S.No.</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    {% for i in job %}
        <tr style="background-color: yellow">
            <td>{{forloop.counter}}</td>
            <td>{{i.recruiter.company}}</td>
            <td>{{i.title}}</td>
            <td>{{i.location}}</td>
            <td>{{i.start_date}}</td>
            
            {% if i.id in li %}<td>Applied</td>
            {% else %}
            <td><a href="{% url 'job_detail' i.id %}" class="btn btn-success">Apply</a>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}